#cookie-banner {
    font-family: "Arial";
    background-color: #333;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    bottom: 0;
    color: white
}
#cookie-banner .title-banner {
    text-transform: uppercase;
    font-size: 30px;
    color: #b9b9b9;
}
#cookie-banner .intro-banner {
    width: 60%;
    line-height: 20px;
}
#cookie-banner .inner-text {margin-bottom: 10px}
#cookie-banner .text-banner {margin-bottom: 0;font-size: 13px;color: white}
#cookie-banner .block-btn {
    display: inline-block;
    margin: 10px 10px 0 0;
}
#cookie-banner .form-check {
    margin: 2px 0;
}
#cookie-banner .btn_more_info_page {
    padding: 8px 17px;
    border: 1px solid #b9b9b9;
    font-size: 13px;
    font-weight: normal;
    background-color: #efefef;
    color: black;
    margin-right: 10px;
}
#cookie-banner .cookie-banner_toggle {
    position: absolute;
    top: -37px;
    padding: 8px;
    border: none;
    font-size: 18px;
    background-color: #212121;
    color: #b9b9b9;
}
#cookie-banner .cookie-banner_toggle:focus {
    outline: none;
}
#cookie-banner .content_cookie {
    padding: 20px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
#cookie-banner .content_cookie.modal_activated {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cookie-banner .content_cookie.modal_activated p.text-banner {margin-bottom: 0}
#cookie-banner .content_cookie.modal_activated a {
    color: #00965e;
    font-family: "BNPP Sans",sans-serif;
}
#cookie-banner .content_cookie.modal_activated button.open_cookie_modal {
    background-color: transparent;
    padding: 0;
    color: #00965e;
    font-family: "BNPP Sans",sans-serif;
    border: none;
}
#cookie-banner .content_cookie.modal_activated button#gdpr_default_ok {
    line-height: 0;
    padding: 12px 22px;
    background-color: #00965e;
    border: 1px solid #00965e;
    border-radius: 5px;
    color: #fff;
    font-family: "BNPP Sans",sans-serif;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/*
#epp-cookie-banner {
    background-color: #edf2f3;
    padding: 20px 70px;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}*/
#cookie-banner .title-banner {
    text-transform: uppercase;
    color: #b9b9b9;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 25px;
}
.epp-message-iframe {
    width: 100%;
    height: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #b9b9b9;
    text-align: center;
    font-size: 20px;
}
#cookie-banner .btn_more_info {color: #b9b9b9}
.cookie_functional {display: none}
.cookie_functional.activated {display: block}

#cookie-banner .formgroup {display: flex;align-items: center}
#cookie-banner .form-check-label {font-weight: 600;font-size: 13px;color: white}
#cookie-banner .form-check span {font-size: 13px;color: #b9b9b9;font-weight: 100;}
#cookie-banner input,
#cookie-banner button {
    font-size: 13px;
    font-weight: normal;
}
#cookie-banner button {margin: 0 10px 0 0}
#cookie-banner input {margin: 0 4px 0 0;}
#cookie-banner button {padding: 8px 17px;border: 1px solid #b9b9b9}
#cookie-banner .pull-right {float: right}

@media screen and (max-width: 768px) {

    #cookie-banner .content_cookie {
        overflow: auto;
        max-height: calc(100vh - 313px);
    }
    #cookie-banner .cookie-banner_toggle {top: -33px}
}
@media screen and (max-width: 600px) {
    #cookie-banner .content_cookie {
        padding: 25px;
    }
    #cookie-banner .cookie-banner_toggle {font-size: 17px;top: -32px}
    #cookie-banner button:not(.cookie-banner_toggle) {margin: 5px 0}
}


/* MODAL */
.cookie-modal .modal-body {
    padding: 30px;
}
.cookie-modal .modal-header {
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 0;
}
.cookie-modal .modal-header button {
    padding: 10px;
}
.cookie-modal .modal-footer {
    padding: 20px 30px;
}
.cookie-modal .modal-header {
    display: flex;
    justify-content: space-between;
}
.cookie-modal .modal-header::before,
.cookie-modal .modal-header::after {
    display: none;
}
.cookie-modal .modal-footer button {
    background-color: #00965e;
    border: 1px solid #00965e;
    border-radius: 3px;
    color: #fff;
    font-family: "BNPP Sans",sans-serif;
}
.modal_cookies .modal-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial";
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
}
.cookie-modal .cookie_choice h5 {
    font-weight: 600;
    font-size: 15px;
}
.cookie-modal .cookie_choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.cookie-modal .content_switch p {
    text-align: justify;
}

.modal_cookies .modal-intro-text {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin: 20px 0;
}
.modal_cookies .modal-intro-choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SWITCH BTN FOR MODAL */
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;

}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 5px;
    margin-bottom: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 9px;
    background-color: #00965E; color: #FFFFFF;
    font-weight: normal;
}
.onoffswitch-inner:after {
    content: "Off";
    padding-right: 13px;
    background-color: #EEEEEE; color: #CCCCCC;
    text-align: right;
    font-weight: normal;
}
.onoffswitch-switch {
    display: block; width: 50%; margin: 0;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 45px;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.default_cookie_label {
    cursor: not-allowed;
}
.content_switch_cookies {
    display: flex;margin: 20px -20px 30px -20px;flex-wrap: wrap;
}
.content_switch_cookies .content_switch {
    width: calc(100% / 4 - 40px);margin: 0 20px
}
/* Page template cookie */
.page-template-tpl-cookies-manager .cookie_page {
    font-size: 15px;
    font-family: "Arial";
    padding: 50px 0;
}
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch .cookie_choice .onoffswitch-inner.defaultCookieContent:before {
    background-color: #EEEEEE
}
.page-template-tpl-cookies-manager .cookie_page h1 {
    font-size: 30px;
    margin: 30px 0;
}
.page-template-tpl-cookies-manager .container {
    max-width: 1400px;
    margin: auto;
}
.page-template-tpl-cookies-manager #cookie-banner {
    display: none!important;
}
.page-template-tpl-cookies-manager .content_switch_cookies {
    max-width: 830px;
    margin: 30px 0;
}
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch {
    width: 100%;
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
}
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch p {
    max-width: 85%;
    font-size: 15px;
}
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch .cookie_choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch .cookie_choice .onoffswitch-switch {
    right: 37px;
 }
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch .cookie_choice .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch .cookie_choice .onoffswitch-inner:after {
    content: "\f011";
    padding-right: 13px;
    background-color: #EEEEEE;
    color: #CCCCCC;
    text-align: right;
    font-weight: normal;
    font-family: 'Font Awesome 5 Pro';
}
.page-template-tpl-cookies-manager .content_switch_cookies .content_switch .cookie_choice .onoffswitch-inner:before {
    content: "\f00c";
    padding-left: 12px;
    background-color: #00965E;
    color: #FFFFFF;
    font-weight: normal;
    font-family: 'Font Awesome 5 Pro';
}
.page-template-tpl-cookies-manager .btn_action_cookies {
    margin-top: 10px;
    display: flex;
    cursor: pointer;
}
.page-template-tpl-cookies-manager #gdpr_selected {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.page-template-tpl-cookies-manager #gdpr_selected:hover {
    background-color: rgb(232, 232, 232);
}
.page-template-tpl-cookies-manager #gdpr_ok {
    padding: 10px 15px;
    background-color: #00965d;
    color: white;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.page-template-tpl-cookies-manager #gdpr_ok:hover {
    background-color: #038c58;
}
.page-template-tpl-cookies-manager #gdpr_nok {
    padding: 10px 15px;
    background-color: #bb0a30;
    color: white;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.page-template-tpl-cookies-manager #gdpr_nok:hover {
    background-color: #a9092b;
}
.manage_cookies {
    font-family: "Arial";
}
@media screen and (max-width: 1600px) {
    .cookie-modal .modal-lg {
        width: 75%;
    }
}
@media screen and (max-width: 1330px) {
    .cookie-modal .modal-lg {
        width: 80%;
    }
}
@media screen and (max-width: 1270px) {
    .cookie-modal .modal-lg {
        width: 85%;
    }
}
@media screen and (max-width: 1150px) {
    .cookie-modal .modal-lg {
        width: 90%;
    }
}
@media screen and (max-width: 992px) {
    .cookie-modal .modal-lg {
        width: 90%;
    }
    .content_switch_cookies .content_switch {
        width: calc(100% / 2 - 40px);
    }
}
@media screen and (max-width: 600px) {
    .content_switch_cookies .content_switch {
        width: 100%;
        margin: 20px 0;
    }
    .content_switch_cookies {
        margin: 20px 0;
    }
    .cookie-modal .modal-dialog {
        top: 2%;
        margin: auto;
    }
}
.show_user_infos p {margin-bottom: 10px;line-height: 20px}
.show_user_infos p strong {margin-bottom: 5px}
.show_user_infos button {font-size: 13px;background-color: transparent;border: none;box-shadow: none}
.show_user_infos_content {max-width: 500px;overflow-wrap: break-word;display: none;padding: 20px}



.modal_cookies .content_choose_cookies {
    margin: 20px 0;
}
.modal_cookies .content_choose_cookies .cookie_choice_modal p {
    max-width: 55%;
}
.modal_cookies .cookie_choice_modal {
    display: flex;justify-content: space-between;
    margin-bottom: 15px;
}


/* 1. Ensure this sits above everything when visible */
.modal_cookies {
    position: fixed;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_cookies.is-visible {
    visibility: visible;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal_cookies.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.modal-wrapper {
    position: relative;
    z-index: 9999;
    width: auto;
    max-width: 865px;
    background-color: #fff;
/*    max-height: 90%;
    overflow-y: scroll;*/
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal_cookies .modal-body {
    max-height: 90vh;
    overflow-y: auto;
    font-family: "Arial";
}

.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}

.modal_cookies.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.modal-content {
    padding: 1em;
}

.modal-header button {
    position: absolute;
    right: 0;
    bottom: 100%;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: #aaa;
    background: none;
    border: 0;
}

.modal-close:hover {
    color: #777;
}

.modal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
    margin-top: 0;
}

.modal-content > *:last-child {
    margin-bottom: 0;
}

.accept_cookies,
.deny_cookies{
    background-color: #ba9e66 !important;
    font-size: 14px !important;
    line-height: 1.2 !important;
    padding: 10px 15px !important;
    text-decoration: none;
    display: inline-block;
    text-transform: none !important;
    margin-top: 20px;
}

#content_cookie .btn_more_info{
    display: none;
}

#cookie-banner .text-banner #btn-in-text {
    background: transparent;
    font-size: 15px !important;
    text-decoration: underline;
    color: #000 !important;
    padding: 0;
}

#cookie-banner #gdpr_nok,
#cookie-banner button.modal-toggle:not(#btn-in-text){
    background: #ffffff !important;
    color: #000;
    padding: 10px 15px !important;
    font-size: 14px;
}

.modal-overlay{
    background: hsl(0deg 0% 100% / 50%);
}
.modal_cookies .modal-body,
.modal_cookies .modal-header{
    padding: 0 !important;
}

.modal_cookies .close-modal{
    background: #ba9e66 !important;
    border: 0 !important;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    width: 70px;
    padding: 10px !important;
    opacity: 1 !important;
}

.modal_cookies button:not(.active){
    opacity: .5;
}

.modal_cookies-content .modal-intro{
    background: #F1EFEA;
    border: 3px solid #F1EFEA;
    border-left: 9px solid #F1EFEA;
    border-top: 5px solid #F1EFEA;
    position: relative;
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
}
.modal_cookies-content h1{
    border: transparent;
    background: transparent;
    font-size: 1.5em;
    text-align: center;
    color: #333;
    margin: 15px 0 28px !important;
    font-weight: 600 !important;
}

.modal_cookies-content .modal-intro-text{
    display: block!important;
    position: relative !important;
    text-align: center!important;
    max-width: 80%!important;
    padding: 15px 0!important;
    margin: -10px auto 40px!important;
    font-size: 1em!important;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #555;
}

.modal_cookies-content .pull-right button,
.modal_cookies-content .accept_cookies
{
    border-radius: 0;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px !important;
    text-align: center;
    text-decoration: none;
    width: auto;
    border: 0 !important;
}

.modal_cookies-content .modal-intro-text{
    font-size: 15px !important;
    line-height: 21px;
    text-align: left !important;
}
.modal_cookies-content .modal-intro-text a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #ba9e66;
}

.modal-intro-choose p{
    display: inline-block;
    margin: 12px 0 0 0;
    color: #333;
    font-size: 15px !important;
    font-weight: bold;
}

.modal_cookies .content_choose_cookies{
    margin: 0 !important;
}

.modal_cookies-content .pull-right button#gdpr_ok, .deny_cookies{
    background-color: #ba9e66;
}
.modal_cookies-content .pull-right button#gdpr_nok, .deny_cookies{
    background: grey;
    margin-left: 7px;
    color: #ffffff;
    border: 0;
}

.content_choice_cookies_title{
    border-bottom: 1px solid #F1EFEA;
}
.show_user_infos {padding: 20px}

.content_choice_cookies_title h5{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    color: #333;
    display: inline-block;
    font-weight: 700;
    margin: 20px 0px 0px;
    text-align: left;
    width: auto;
    background: #F1EFEA;
    text-transform: uppercase;
}

.cookie_choice_modal{
    background: transparent;
    border-left: 10px solid transparent;
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
}
.cookie_choice_modal p{
    padding: 0;
    line-height: 18px;
}
.hide_banner {display: none}
.modal_visible {
    visibility: visible;
    opacity: 1;
}
.hide_content {display: none}
.show_content {display: inline}
.btn_modal_only {
    font-size: 12px;
    padding: 6px 35px;
    margin: 5px 10px;
    font-weight: normal;
    line-height: 1.2;
    height: 40px;
    letter-spacing: 1.5px;
    border-radius: 0;
    text-align: center;
    background: transparent;
    border: 1px solid #222222;
    width: 200px;
}
.hide_content .content_switch {
    background: #FFFFFF;
    color: #222222;
    border: none;
    box-shadow: 0 4px 8px 2px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}
.hide_content .cookie_choice h5 {
    background-color: #F1EFEA;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 14px;
    margin: 0;
    font-weight: 100;
    letter-spacing: 1px;
}
.hide_content .cookie_choice p {
    padding: 0 15px;
}
.modal-only-intro-text {margin-bottom: 30px}


.modal_visible .onoffswitch {
    position: relative;
    width: 78px;
    border: none;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.modal_visible .onoffswitch-checkbox {
    display: none;
}

.modal_visible .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.modal_visible .onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.modal_visible .onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.modal_visible .onoffswitch-inner:before {
    content: "On";
    padding-left: 17px;
    font-size: 13px;
    font-weight: 100;
    background-color: #00A600; color: #FFFFFF;
}
.modal_visible .onoffswitch-inner.defaultCookieContent:before {
    background-color: #EEEEEE;
}
.modal_visible .onoffswitch-inner.defaultCookieContent {
    cursor: not-allowed;
}
.modal_visible .onoffswitch-inner:after {
    content: "Off";
    padding-right: 15px;
    font-size: 13px;
    font-weight: 100;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.modal_visible .onoffswitch-switch {
    width: 27px;
    margin: 3px;
    background: #FFFFFF;
    border: none; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 44px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.modal_visible .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.modal_visible .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.modal_visible .show_user_infos {padding: 10px}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch input:checked~label .onoffswitch-switch {
    left: 23px;
}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch label .onoffswitch-switch {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 27px;
    background: #fff;
    border-radius: 50%;
    display: block;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch label .onoffswitch-inner {
    display: none;
}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch input:checked~label {
    background-color: #325aff;
}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch label {
    cursor: pointer;
    position: relative;
    display: block;
    width: 51px;
    height: 31px;
    background-color: #787880;
    border-radius: 26px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch input {
    display: none;
}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch {
    margin-left: auto;
    width: auto;
    border: none;
}
#cookiePageMediaConnect__container--manageCookie .content_switch_cookies .cookie_choice .onoffswitch input:checked~label.default_cookie_label {
    background-color: #d7dffe;
}

.btn_action_cookies {border: none}

#cookie-banner .content_cookie{ flex-wrap: wrap }
#cookie-banner #gdpr_nok, #cookie-banner button.modal-toggle:not(#btn-in-text) { background-color : #00a01e !important; }
#content_cookie .clearfix,
#cookie-banner .pull-right{
display: flex;
flex-wrap: wrap;
} 
#cookie-banner .content_cookie {
justify-content: flex-start !important;
} 
