.page-template-page_connexion .lost_password-link a:visited, .page-template-page_connexion .lost_password-link a,
.page-template-page_connexion .lost_password-link a:hover {color:#ffffff !important;}

#overtitle {text-align:center;}

#overtitle img {max-width:100%; height:auto !important;}

#single-banner {margin-bottom:40px;}
#single-wrap .content-post table td {padding:10px;}

.menu-item.menu-id-0.cat-acccueil {display: none !important;}


@media screen and (max-width: 500px) {

   .single #photos__container .row_img.masonry.masonry-container {width:90% !important;}
   .single #photos__container .panel-body .row_img figure {min-width:0px; width:100% !important;}
}
